<div class="row justify-content-md-center">
  <div class="col-md-3 mb-2">
    <div class="card border-light shadow-sm card-first">
      <div class="card-bodyX text-xl-center">
        <h3 class="mt-1">{{ "menu.certifications" | translate }}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-11 mb-2">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h4 class="text-xl-center">Personal Projects</h4>

        <div *ngIf="lang == 'en'">
          <ul class="no-bullets">
            <li>
              🌐 🔌 📱 📁 Spent time learning, practicing various full stack
              technologies, to develop few personal use-cases & deploy code
              using aws, <a href="https://appili.dev">https://appili.dev </a> ,
              <a href="https://cv.appili.dev"> https://cv.appili.dev</a> ,
              <a href="https://projects.appili.dev"
                >https://projects.appili.dev
              </a>
              , <a href="https://appili.io"> https://appili.io</a> ,
              <a href="https://missile.world">https://missile.world </a> ,
              <a href="https://medpro.click">https://medpro.click </a> also,
              developed REST APIs, made available to public, for free with
              base-url
              <a href="https://appili.gives/"> https://appili.gives/</a> ,
              respective swagger is hosted in
              <a href="https://swagger.appili.dev "> https://swagger.appili.dev </a>
              also, made few android & iOS apps which are available in
              <a href="https://apps.appili.dev">https://apps.appili.dev </a>
            </li>
            <br />
            <li>
              🌾 Explored the frontier of AI & CPS in Agriculture Automation at
              AWaDH, IIT Ropar during June, July 2021
            </li>
            <br />
            <li>
              🚀 Developed a Small Scale Rocket Motor with an impressive range
              of 100 meters using KNO3+Sugar
            </li>
          </ul>
        </div>

        <div *ngIf="lang == 'fr'">
          <p>
            A.M. Web Expert est convaincu que les formations et certifications
            sont non seulement les preuves de compétence, mais une manière
            d'apprendre les technologies selon les r&#232;gles de l'art. C'est
            pourquoi les certifications suivantes ont été obtenues au fil des
            années en tant que formation continue :
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center" *ngIf="lang == 'en'">
  <div class="col-12 col-md-6 mb-2">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h5 class="text-center">MTech Projects</h5>
        <ul class="no-bullets">
          <li>
            🚀 "Development of a Vision Guided Aerially Launched Short Range
            Missile" - A 2 km Fire-and-Forget Armed Missile. A Revolutionary
            Pursuit for IAF, under the guidance of Prof. Dr. S.R. Chakravathy.
          </li>
          <br />
          <li>
            🦅 Eagle's Eye Precision: "Detect and Drop" - 5.4 kg MTOW UAV,
            Delivering 1.5 kg Payload to a 5 km Dead-drop with Minimal
            Equipment.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-2">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h5 class="text-center">MTech Collaboration Projects <br /></h5>
        <h6 class="text-center">Fueling Innovation Together</h6>
        <ul class="no-bullets">
          <li>
            🚀 Teamed up with Niharika (Aerospace Dual Degree, IIT Madras) on
            "Developing Guidance System for an Air-to-Ground Low-Cost Missile"
            (Dual Degree Project)
          </li>
          <br />
          <li>
            🤝 Collaborated with Squadron Leader Piyush Raj (Aerospace MTech,
            IIT Madras) on "Integration of Guided Weapon on Indigenously
            Developed UAV" (MTech Project)
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-11 mb-2">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h5 class="text-xl-center">BTech Projects</h5>

        <div>
          <ul class="no-bullets">
            <li>
              🚁 "Structural Analysis of Agricultural UAV" (with a team of 4
              classmates) under the guidance of Prof. Dr. K. Senthil Kumar
            </li>
            <br />
            <li>
              ✈️ Led a team of 5 classmates in the "Aircraft Design Project:
              60-Seater Short Range Passenger Aircraft" with a range of 1500 km
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
