<div class="row justify-content-md-center">
  <div class="col-md-3 mb-2">
    <div class="card border-light shadow-sm card-first">
      <div class="card-bodyX text-xl-center">
        <h3 class="mt-1">{{ "menu.technologies" | translate }}</h3>
      </div>
    </div>
  </div>
  <div class="col-md-11 mb-2">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h4 class="text-xl-center">MTech Legislator</h4>
  <h6 class="text-center">SLC 2020-21</h6>

        <div *ngIf="lang == 'en'">
          <ul class="no-bullets">
            <li>
              🗳️ Influential SLC member representing MTech students, shaping
              bills and budgets through voting.
            </li>
            <br />
            <li>
              🔊 Voice of the MTech community, effectively expressing their
              concerns to higher authorities.
            </li>
            <br />
            <li>
              ✅ Proficient in departmental rules and procedures, ensuring
              seamless governance.
            </li>
            <br />
            <li>
              💡 Proposed Unification & Decentralisation plan for MTech student
              system.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center" *ngIf="lang == 'en'">
  <div class="col-12 col-md-6 mb-2">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h5 class="text-center">
          Nominations & Ratifications Committee Member
        </h5>
        <h6 class="text-center">SLC 2020-21</h6>
        <ul class="no-bullets">
          <li>
            🔎 Investigate student complaints on PoRs, core members,
            coordinators, and heads.
          </li>
          <br />
          <li>📋 Compile Reports & Suggestions for submission to SLC.</li>
          <br />
          <li>
            💪 Amplify student voices, driving positive change within the
            institution.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-2">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h5 class="text-center">
          MTech Aerospace Class Representative
        </h5>
            <h6 class="text-center">2020-22</h6>
        <ul class="no-bullets">
          <li>
            📢 Proactively communicating class issues to the HOD/FA, ensuring
            swift resolutions.
          </li>
          <br />
          <li>
            💡 Empowering students voice, advocating for positive change within
            our academic community.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center" *ngIf="lang == 'en'">
  <div class="col-12 col-md-6 mb-2">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h5 class="text-center">MITR Coordinator</h5>
         <h6 class="text-center">2020-22</h6>
        <ul class="no-bullets">
          <li>🤝 A Reliable Friend for All IIT Madras Students</li>
          <br />
          <li>
            💬 Compassionate Listener & Human-Friendly Support System for
            students in distress
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-2">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h5 class="text-center">
          MIT - UG (Aero) Placement Coordinator
        </h5>
         <h6 class="text-center"> 2019-20</h6>
        <ul class="no-bullets">
          <li>
            🚀 Proactive Connector | Facilitating Industry Connections for
            MIT-Aerospace UG Students
          </li>
          <br />
          <li>
            📚 Seamless Coordination | Streamlining Placement Activities with
            Precision
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


  <footer class="footer section py-5">
    <div class="row">
      <div class="col-12 col-lg-6 mb-4 mb-lg-0">
        <p class="mb-0 text-center text-xl-left">
            Student Legislative Council ( SLC )
        </p>
      </div>
    </div>
  </footer>
