<div class="row justify-content-md-center" style="margin-top: 50px">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div class="card-body">
        <h3>Files</h3>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/files/product-catalog.xlsx"
              title="product-catalog"
            >
              product-catalog
              <span class="fa-solid fa-file-excel" style="color: #ffffff"></span
            ></a>
          </p>
        </div>
        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/files/disys/product-catalog_5_Products.xlsx"
              title="product-catalog_5_Products-disys"
            >
              disys hosted - 5 products excel file
              <span class="fa-solid fa-file-excel" style="color: #ffffff"></span
            ></a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/files/disys/product-catalog_10_Products.xlsx"
              title="product-catalog_10_Products-disys"
            >
              disys hosted - 10 products excel file
              <span class="fa-solid fa-file-excel" style="color: #ffffff"></span
            ></a>
          </p>
        </div>
      </div>

      <div>
        <p class="text-center">
          <a
            class="btn btn-primary"
            href="../../assets/cdn/files/internet/product-catalog_5_Products.xlsx"
            title="product-catalog_5_Products-internet"
          >
            public internt images - hosted - 5 products excel file
            <span class="fa-solid fa-file-excel" style="color: #ffffff"></span
          ></a>
        </p>
      </div>

      <div>
        <p class="text-center">
          <a
            class="btn btn-primary"
            href="../../assets/cdn/files/internet/product-catalog_10_Products.xlsx"
            title="product-catalog_10_Products-internet"
          >
            public internt images - hosted - 10 products excel file
            <span class="fa-solid fa-file-excel" style="color: #ffffff"></span
          ></a>
        </p>
      </div>
    </div>

    <div class="card-body">
      <h3>Template Test</h3>

      <div>
        <p class="text-center">
          <a
            class="btn btn-primary"
            href="../../assets/cdn/images/boron.jpg"
            title="Image Name (boron)"
          >
            FILES Test Code ASSESTS CDN
            <span class="fa-solid fa-file-excel" style="color: #ffffff"></span
          ></a>
        </p>
      </div>
    </div>
  </div>
</div>
