<div class="row justify-content-md-center">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div class="card-body">

       <div class="text-xl-center">  <h2>{{ "menu.achievements" | translate }}</h2> </div>

        <div *ngIf="lang == 'fr'">
          <p>
            L'expertise de A.M. Web Expert Inc. a permit de livrer plusieurs
            projets de grande envergure et également de réaliser des
            applications mobiles distribuées à des centaine de milliers
            d'utilisateurs.
          </p>
        </div>

        <div *ngIf="lang == 'en'">
          <ul>
            <li>
              Teaching Assistant for an MTech Course of (AS5030) of IIT Madras
            </li>
            <li>
              DRDO Robotics and Unmanned System Exposition (DRUSE), Zonal Level
              Winner (2018)
            </li>
            <li>FFE Leadership Award (2018, 2019)</li>
            <li>
              High Distinction in Mathematics in 2010, UNSW Global, University
              of Southwales, Sydney, Australia
            </li>
            <li>Spirit of Yoga Challenge, (2012)</li>
            <li>Outstanding Reader, Scholastic Reading Champion (2011)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
