/* Styling for the 'Achievements' section */
.no-bullets {
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  line-height: 1.6;
}

.no-bullets li {
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Remove bottom border for the last item */
.no-bullets li:last-child {
  border-bottom: none;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

/* Responsive padding and margin adjustments */
@media (max-width: 576px) {
  .no-bullets {
    font-size: 1rem;
  }
  .no-bullets li {
    padding-bottom: 0.4rem;
    margin-bottom: 0.4rem;
  }
}

a {
  color: black;
  text-decoration: underline;
  font-weight: bolder;
}
.test-fire-link {
  color: black;
  text-decoration: underline;
}

/* Styling for the GitHub link */
.test-fire-link {
  color: #0366d6; /* GitHub blue */
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
  transition: color 0.3s;
}

.test-fire-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Styling for the repository stats */
#repo-stats,
span {
  margin-left: 10px;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  color: #333;
}

#repo-stats span {
  margin-right: 5px;
}

/* Loading state */
ng-template {
  font-size: 14px;
  color: #999;
  font-style: italic;
  font-weight: bolder;
}
