<div class="row justify-content-md-center">
  <div class="col-12 col-sm-12 col-md-11 col-lg-9 -col-xl-9 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div class="card-body">
        <div class="text-center">
          <h2>Achievements</h2>
        </div>
          <br />

        <ul class="no-bullets">
          <li>
            📚 Teaching Assistant for an MTech Course of (AS5030) of IIT Madras
          </li>

          <li>
            🏆 DRDO Robotics and Unmanned System Exposition (DRUSE), Zonal Level
            Winner (2018)
          </li>

          <li>🏅 FFE Leadership Award (2018, 2019)</li>

          <li>
            🥇 High Distinction in Mathematics in 2010, UNSW Global, University
            of Southwales, Sydney, Australia
          </li>

          <li>🧘‍♀️ Spirit of Yoga Challenge, (2012)</li>

          <li>📖 Outstanding Reader, Scholastic Reading Champion (2011)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
