<div class="row justify-content-md-center" style="margin-top: 50px">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div class="card-body">
        <h3>Images</h3>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/azospirillum.jpg"
              title="azospirillum"
            >
              azospirillum
              <span class="fa-solid fa-image" style="color: #ffffff"></span
            ></a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/bittergourd.jpg"
              title="bittergourd"
            >
              bittergourd
              <span class="fa-solid fa-image" style="color: #ffffff"></span
            ></a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/boron.jpg"
              title="boron"
            >
              boron.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/brinjalSeeds.jpg"
              title="brinjalSeeds"
            >
              brinjalSeeds.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/cucumber.jpg"
              title="cucumber"
            >
              cucumber.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/glyphosate.jpg"
              title="glyphosate"
            >
              glyphosate.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/imidac.jpg"
              title="imidac"
            >
              imidac.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/maize.jpg"
              title="maize"
            >
              maize.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/nanosakthi.jpg"
              title="nanosakthi"
            >
              nanosakthi.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/npk.jpg"
              title="npk"
            >
              npk.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/paddy.jpg"
              title="paddy"
            >
              paddy.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/papaya.jpg"
              title="papaya"
            >
              papaya.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/pretichlor.jpg"
              title="pretichlor"
            >
              pretichlor.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/tomato.jpg"
              title="tomato"
            >
              tomato.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/glypho.jpg"
              title="glypho"
            >
              glypho.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/watermelon.jpg"
              title="watermelon"
            >
              watermelon.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/zincsulphate.jpg"
              title="zincsulphate"
            >
              zincsulphate.jpg
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

         <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/live-stock-img.png"
              title="live-stock-img"
            >
              live-stock-img.png
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

         <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/loan-one.png"
              title="loan-one"
            >
              loan-one.png
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>

      <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/loan-two.png"
              title="loan-two"
            >
              loan-two.png
              <span class="fa-solid fa-image" style="color: #ffffff"></span>
            </a>
          </p>
        </div>


      </div>

      <div class="card-body">
        <h3>Template Test</h3>

        <div>
          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/cdn/images/boron.jpg"
              title="Image Name (boron)"
            >
              Image Test Code ASSESTS CDN
              <span class="fa-solid fa-image" style="color: #ffffff"></span
            ></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
