<div class="row">
  <div class="col-12 col-md-5 col-sm-12">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="header-container-exp">
          <strong> <h2>Hi, I'm Krishna</h2></strong>
          <strong> <h5>Developer</h5></strong>
          <h4>Deep Tech Product Developer</h4>
        </div>

        <strong
          ><h5 class="role-title mobile-only">
            Deep Tech Product Developer
          </h5></strong
        >

        <p>
          Innovative Web Developer, crafting captivating online experiences that
          combine sleek design and seamless functionality.
        </p>

        <div>
          <strong> <h4>Core Education</h4> </strong>
          <ul>
            <li>
              <b>MTech</b> Aerospace Engineering from
              <b>IIT Madras</b> (2020-22) with CGPA of <b>9.47</b>
            </li>
            <progress id="file" value="94.7" max="100"></progress>
            <li>
              <b>BTech</b> Aeronautical Engineering from Madras Institute of
              Technology (<b>MIT</b>), Anna University (2016-20) with CGPA of
              <b>8.15</b>
            </li>
            <progress id="file" value="81.5" max="100"></progress>
            <li>
              <b>HSC</b> (12<sup>th</sup> class) from Chaitanya Junior College,
              <b>AP BIE</b> (2014-16) with percentage of <b>96.8 %</b>
            </li>
            <progress id="file" value="96.8" max="100"></progress>
            <li>
              <b>SSC</b> (10<sup>th</sup> class) from Ratnam High School,
              <b>AP SSC</b> (2014) with CGPA of <b>9.8</b>
            </li>
            <progress id="file" value="98" max="100"></progress>
          </ul>
        </div>

        <div>
          <strong> <h4>Entrepreneurship Education</h4> </strong>
          <ul>
            <li>
              Fashion Entrepreneurship from
              <b> NIFT, Chennai</b>
            </li>
            <ul>
              <li><i class="fas fa-calendar-alt"></i> 11/2023 - 10/2024</li>
              <li>
                <p>
                  This is a 1-year Executive MBA offered as part of the
                  incubation of <b>Crazy GreenLife LLP</b>, formally given as a
                  PG Diploma degree.
                </p>
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
    <!-- starts -->
    <!-- <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="header-container-startup">
          <strong><h2>Experience</h2></strong>
          <strong><h5>Entrepreneurship Journey</h5></strong>
          <strong><h6>11 Months</h6></strong>
        </div>
        <strong
          ><h5 class="role-title mobile-only">
            Entrepreneurship Journey
          </h5></strong
        >

        <div class="header-container-cgl">
          <h4>Crazy GreenLife LLP</h4>
          <p><strong>Incorporated:</strong> April 8, 2024</p>
        </div>

        <p>
          <strong>Co-Founders:</strong> Appili Vamsi Krishna, Nimisha Sharma
        </p>
        <p>
          Crazy GreenLife LLP was born from the mentorship and incubation period
          at <b>NIFT Chennai</b>. This fashion-tech startup is dedicated to
          transforming fabric waste into high-quality fibers, with a core
          emphasis on sustainability and green-fashion initiatives.
        </p>

        <h5>Executive Startup Education</h5>
        <ul>
          <li><b>Course:</b> PG Diploma in Fashion Entrepreneurship</li>
          <li>
            <b>Institution:</b> National Institute of Fashion Technology,
            Chennai
          </li>
          <li><b>Mentor:</b> Dr. S. Angammal Santhi</li>
          <li><b>Duration:</b> <i>November 2023 - October 2024</i></li>
          <li>
            <b>Core Focus:</b> Sustainable fashion and technology integration
          </li>
        </ul>

        <p>
          An intensive Executive-MBA course that provided incubation and
          mentorship, merging my technical expertise with creativity in the
          fashion domain. It paved the way for the founding of Crazy GreenLife
          LLP, integrating technology with sustainability in fashion and making
          meaningful contributions to the green fashion industry.
        </p>
      </div>
    </div> -->

    <!-- ends -->
    <!-- starts -->
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <section
          class="header-container-startup"
          aria-label="Startup Endeavours"
        >
          <h2><strong>Startup Endeavours</strong></h2>
        </section>

        <!-- Crazy GreenLife LLP Section -->
        <div class="header-container-project">
          <h4>Crazy GreenLife LLP</h4>
          <p>
            <i class="fas fa-calendar-alt"></i> 12/2023 - 10/2024
            <i class="fas fa-map-marker-alt"></i> Chennai, India
          </p>
          <p>
            <i class="fas fa-link"></i>
            <a href="https://crazygreenlife.shop/"
              >https://crazygreenlife.shop/</a
            >
          </p>
          <p>
            Crazy GreenLife LLP, co-founded by Appili Vamsi Krishna and Nimisha
            Sharma, was incorporated on April 8, 2024.
          </p>
          <ul>
            <li>
              Startup conceived at NIFT Chennai during incubation, receiving
              mentorship and strategic support through the Fashion
              Entrepreneurship course.
            </li>
          </ul>
        </div>

        <hr />
        <!-- Freelance Full Stack Development Section -->
        <div class="header-container-project">
          <h4>Full Stack Development (Freelance)</h4>
          <p><i class="fas fa-calendar-alt"></i> 06/2024 - 10/2024</p>
          <ul>
            <li>
              End-to-end development of
              <a href="https://app.rahasyavedicastrology.com/ephemeris"
                ><b> <u> ephemeris-website</u></b></a
              >
              for RVA, covering both backend & frontend.
            </li>
            <li>Upgraded & fixed issues across RVA sites.</li>
          </ul>
        </div>
        <hr />

        <!-- AstroData AI Section -->
        <div class="header-container-project">
          <h4>AstroData AI</h4>
          <p><i class="fas fa-calendar-alt"></i> 03/2024 - 10/2024</p>
          <p>
            <i class="fas fa-link"></i>
            <a href="https://astrodata.dev/">https://astrodata.dev/</a>
          </p>
          <p>A curious personal (hobby) research project.</p>
          <ul>
            <li>
              Created as a showcase of my skills and a platform for exploring
              cutting-edge technology.
            </li>
            <li>
              Sole architect and developer, independently building the full
              stack—both front-end and back-end—deployed on AWS and
              DigitalOcean.
            </li>
            <li>
              Developed a new LLM that learns and validates predictive rules,
              calculating event probabilities through intensive data analysis
              powered by advanced neural networks.
            </li>
            <li>Released version 1.0 on October 21, 2024.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ends -->
  </div>
  <div class="col-12 col-md-7 col-sm-12">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <!-- starts -->
        <div class="header-container-exp">
          <strong> <h2>Employee Experience</h2></strong>
          <h4>Full Stack Developer</h4>
          <strong> <h5>Employee</h5></strong>
          <strong> <h6>20 Months</h6> </strong>
        </div>

        <strong
          ><h5 class="role-title mobile-only">Full Stack Developer</h5></strong
        >

        <ul>
          <li>
            <b>Senior Software Engineer</b> at
            <b>
              <a href="https://dexian.com/"> <u> Dexian India </u></a> (formerly
              DISYS India)
            </b>
            <br />
            <i
              >Jan 2023 - Nov 2023 (11 months) | Chennai, Tamil Nadu, India |
              On-site</i
            >
            <br /><br />
            <b>Highlights:</b> Led and architected projects in LCNC platforms
            such as PowerApps, Mendix, Appian, and OutSystems, focusing on web
            and mobile app development for various clients. Additionally, worked
            extensively on Full Stack technologies including React, Angular,
            Express, and MongoDB.
            <br />
            <b>Technologies:</b> Appian, Mendix, PowerApps, React, Next.js,
            Google Drive API, RPA, IDP, Digital Farmer Services (DFS), Novo
            Charts, Angular, Express, MongoDB.
            <ul>
              <li>
                <b>Project - Site Inspection Mobile App:</b> Developed a mobile
                app for site inspections using PowerApps.
              </li>
              <li>
                <b>Project - Appian RPA & IDP:</b> Created Proof of Concepts
                involving Appian RPA and IDP for clients, handling PDF
                processing and data extraction.
              </li>
              <li>
                <b>Project - Pharmacy Orders Processing:</b> Automated order
                processing and license verification for a leading pharmacy
                company, extracting details from PDFs, verifying licenses, and
                generating CSV exports.
              </li>
              <li>
                <b>Project - Bihar Government DFS:</b> Developed a React-based
                frontend with interactive heat maps and charts for digital
                farmer services.
              </li>
              <li>
                <b>Project - Catalyst:</b> Built a Next.js web app for screen
                recording, screenshot editing, and exporting to presentations or
                PDFs.
              </li>
              <li>
                <b>Project - Document Merger:</b> Developed the frontend in
                Next.js to merge PDFs, images, and Excel files into a single PDF
                document.
              </li>
              <li>
                <b>Project - Opportunity Management Portal:</b> Led and
                developed both frontend (Angular) and backend (Express) for an
                internal portal helping senior employees organize and track
                project opportunities.
              </li>
            </ul>
          </li>

          <br />

          <li>
            <b>Software Development Engineer</b> at
            <b>
              <a href="https://safe.security/"> <u> SAFE Security </u></a>
            </b>
            <br />
            <i>Apr 2022 - Dec 2022 (9 months) | Remote</i>
            <br /><br />
            <b>Highlights:</b> Full-stack developer skilled in AWS Cloud
            services, DevOps, and React-based development in Agile environments.
            <br />
            <b>Technologies:</b> React, Node.js, TypeScript, AWS (IAM, EC2, RDS,
            CloudWatch, CloudFormation), Docker, Jenkins, Redux, Jest, TestCafé,
            SQL, MongoDB.
            <ul>
              <li>
                <b>Role:</b> Developed and maintained RESTful APIs with Node.js
                and TypeScript, implementing unit and integration tests using
                Jest to ensure high-quality code.
              </li>
              <li>
                <b>Responsibilities:</b> Designed functional pages with
                React.js, managed state with Redux and React Hooks, and ensured
                seamless page navigation with React-Router.
              </li>
              <li>
                <b>Cloud Experience:</b> Worked with AWS services (IAM, EC2,
                RDS, CloudWatch) and utilized CloudFormation for infrastructure
                templates.
              </li>
              <li>
                <b>DevOps & Automation:</b> Leveraged Docker and Jenkins for
                CI/CD pipelines, ensuring efficient deployment and automation in
                Agile environments.
              </li>
            </ul>
          </li>
        </ul>

        <!-- ends -->
      </div>
    </div>
  </div>
</div>
