<div class="row justify-content-md-center">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div id="myDivAppili" class="card-bodyX text-xl-center">
        <h3 class="mt-1">{{ "menu.members" | translate }}</h3>

        <div *ngIf="lang == 'fr'">
          <p>
            Présentement A.M. Web Expert Inc. n'est composé que d'un membre
            actif, à titre de président.
          </p>

          <p>
            Analyste-programmeur possédant 15 années d'expérience en finances,
            en assurance, dans le domaine de l'enseignement, de du paiement
            bancaire et pour le gouvernement. Il est expert en technologies
            Mobile Angular / Web / SOA / REST, expérience qu'il a acquise lors
            de ses multiples mandats en développement d'application JAVA / JEE
            et de sites internet (LAMP - Linux-Apache-MySQL-PHP, etc.).
          </p>

          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/resume/Andre_Masson_CV.pdf"
              title="Curiculum Vitae"
              >CV (English / Fran&#231;ais) format Word
              <span class="fas fa-file-word"></span
            ></a>
          </p>

          <p class="text-center">
            <a
              class="btn btn-primary"
              href="../../assets/resume/Andre_Masson_CV.pdf"
              title="Curiculum Vitae"
              >CV (English / Fran&#231;ais) format PDF
              <span class="fas fa-file-pdf"></span
            ></a>
          </p>

          <p class="text-center">
            <a
              class="btn btn-secondary"
              href="https://cloud.amwebexpert.com/"
              title="Chroniques d'un dev"
              >Consultez mon blog de développeur (Fran&#231;ais)</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center" *ngIf="lang == 'fr'">
  <div class="col-12 col-md-6 mb-6">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <ul>
          <li>
            Forte aptitude en analyse des besoins fonctionnels et techniques
          </li>
          <li>Analyste programmeur expérimenté Mobile / Java EE / PHP / SQL</li>
          <li>
            Trés bonne capacité à collaborer et à communiquer avec les
            utilisateurs, directeurs, experts fonctionnels, investisseurs et
            autres membres ayant des intér&#234;ts aux projets
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-6">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <ul>
          <li>
            Connaissances approfondies des différents p&#244;les du génie
            logiciel
          </li>
          <li>
            Analyse, planification, configuration logicielle, test,
            qualit&eacute;, conception, impl&eacute;mentation, maintenance…
          </li>
          <li>
            Ma&#238;trise du fran&#231;ais et bonne utilisation de l'anglais
            (parlé, et écrit)
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center" *ngIf="lang == 'en'">
  <div class="col-12 col-md-6 mb-6">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h4 class="text-center">Udemy</h4>
        <ul>
          <li>Linux for Absolute Beginners!</li>
          <li>Wordpress Complete Website MasterClass - Wordpress Made Easy</li>
          <li>Powerful Corporate & Business Strategy Taught in MBA's</li>
          <li>The Complete Python 3 Course: Beginner to Advanced !</li>
          <li>Design and Simulate the Aerodynamics of Rockets</li>
          <li>Fundamentals of Rocket Propulsion</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-6">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h4 class="text-center">Coursera</h4>
        <ul>
          <li>Code Yourself! An Introduction to Programming</li>
          <li>Creative Problem Solving</li>
          <li>AWS S3 Basics</li>
          <li>Build a Full Website using WordPress</li>
          <li>Teamwork Skills: Communicating Effectively in Groups</li>
          <li>Foundations of Mindfulness</li>
          <li>Create a Business Marketing Brand Kit Using Canvas</li>
          <li>Communication Strategies for a Virtual Age</li>
          <li>Programming for Everybody (Getting Started with Python)</li>
          <li>Digitization in the Aerospace Industry</li>
          <li>Machine Learning</li>
          <li>Cloud Computing Basics (Cloud 101)</li>
          <li>
            Learn: Powerful mental tools to help you master tough subjects
          </li>
          <li>
            The Science of Success: What Researchers Know that You Should Know
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
