<div class="row justify-content-md-center">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div id="myDivAppili" class="card-bodyX text-xl-center">
        <h3 class="text-center mt-2">Certifications</h3>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center"  >
  <div class="col-12 col-md-6 mb-6">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h4 class="text-center">Udemy</h4>
        <ul>
          <li>Linux for Absolute Beginners!</li>
          <li>Wordpress Complete Website MasterClass - Wordpress Made Easy</li>
          <li>Powerful Corporate & Business Strategy Taught in MBA's</li>
          <li>The Complete Python 3 Course: Beginner to Advanced !</li>
          <li>Design and Simulate the Aerodynamics of Rockets</li>
          <li>Fundamentals of Rocket Propulsion</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-6">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <h4 class="text-center">Coursera</h4>
        <ul>
          <li>Code Yourself! An Introduction to Programming</li>
          <li>Creative Problem Solving</li>
          <li>AWS S3 Basics</li>
          <li>Build a Full Website using WordPress</li>
          <li>Teamwork Skills: Communicating Effectively in Groups</li>
          <li>Foundations of Mindfulness</li>
          <li>Create a Business Marketing Brand Kit Using Canvas</li>
          <li>Communication Strategies for a Virtual Age</li>
          <li>Programming for Everybody (Getting Started with Python)</li>
          <li>Digitization in the Aerospace Industry</li>
          <li>Machine Learning</li>
          <li>Cloud Computing Basics (Cloud 101)</li>
          <li>
            Learn: Powerful mental tools to help you master tough subjects
          </li>
          <li>
            The Science of Success: What Researchers Know that You Should Know
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
